#app {
  position: absolute;
  left: 15%;
  top: 15%;
}

.board {
  position: relative;
  background-color: transparent;
}

.tileSlot {
  position: absolute;
  background-color: #b3bac6;
  z-index: -1;
  pointer-events: none;
}

.tile {
  position: absolute;
  transition: background-color 0.2s ease;
  background-size: 230%;
  background-position-x: 50%;
  background-position-y: 45%;
  background-repeat: no-repeat;
  z-index: 0;
}
